

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #212529;
  --primary-color-light: #3a4147;
  --primary-color-hard: #121416;
  --secondary-color: #bca177;
  --secondary-color-hard: #978059;
  --blanco-1: #ffff;
  --blanco-2: #f8f5f5;
}

.titulos{
  width: 90%;
  margin: auto;
  margin-bottom: 1rem;
  font-weight: 700;
}


/*PRESENTACIÓN*/

.presentacion{
  width: 100%;
  height: 25rem;
  background-image: url(IMAGENES/Central/imagenCentral.png);
  background-size: cover;
}

/*DIFERENCIALES*/

.diferenciales{
  width: 100%;
  height: 25rem;
  background-color: var(--primary-color);
}


/*PRODUCTOS*/

.productos{
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--secondary-color);
}

.contenedorProductos{
  width: 90%;
  margin: auto;
  margin-bottom: 1.5rem;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

.tarjetaProducto{
  width: 100%;
  background-color: var(--primary-color);
  display: grid;
  grid-gap: 1rem;
  border-radius: 10px;
}

.imagenProducto{
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.tituloProducto{
  width: 90%;
  margin: auto;
  color: var(--blanco-1);
  text-align: center;
}

.textoProducto{
  width: 90%;
  margin: auto;
  color: var(--blanco-1);
}

.textoPresentacion{
  width: 90%;
  margin: auto;
  color: var(--secondary-color);
}

.botonMasInfoProducto{
  width: fit-content;
  max-height: 2.5rem;
  justify-self: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: var(--secondary-color);
  text-decoration: none;
  border-radius: 10px;
  color: var(--blanco-1);
}

.botonMasInfoProducto:hover{
  background-color: var(--secondary-color-hard);
  color: var(--blanco-1);
}

/*FORMULARIO DE CONTACTO*/

.formulario{
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: var(--primary-color);
}

.tituloForm{
  width: 90%;
  margin: auto;
  font-weight: 700;
  color: var(--secondary-color);
}

.contenedorFormulario{
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  color: var(--blanco-1);
}

.botonFormulario{
  background-color: var(--secondary-color);
  border-radius: 10px;
  border: none;
  padding: 0.5rem;
  color: var(--blanco-1);
}

.botonFormulario:hover{
  background-color: var(--secondary-color-hard);
}

/*RECETAS*/

.recetas{
  background-color: var(--secondary-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.wrapper {
  display: flex;
  margin: auto;
  grid-gap: 1rem;
  width: 90%;
  overflow-x: auto; /*Indicamos el comportamiento del contenido que se desborda en el eje X*/
  scroll-snap-type: x;
  cursor: grab; /*Indica que el cursor sea la manito que agarra*/
  scroll-behavior: smooth; /*Suaviza el scroll*/
  scrollbar-width: none; /* elimina la barra de desplazamiento en firefox */
}

.wrapper::-webkit-scrollbar { /* elimina la barra de desplazamiento en chrome*/
  display: none;
}

.slider {
  min-width: calc(80% - .5rem);
  height: 20rem;
  background: var(--primary-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blanco-1);
  font-size: 2rem;
  scroll-snap-align: center; /*Esto genera que cuando utilicemos el scroll, nos lleve al centro de este elemento. Probar con start y end para cambiar el efecto*/
  font-weight: 600;
  user-select: none; /*Hacemos que el usuario no pueda seleccionar el texto, ya que si lo puede seleccionar al mantener presionado, atenta contra el efecto que le queremos dar de que haga scroll deslizando*/
}

@media (min-width: 600px){
  .slider{
    min-width: calc(30% - .5rem);
  }
}

/*MAPA*/

.localizacion{
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: var(--secondary-color-hard);
}

.contenedorMapa{
  width: 90%;
  margin: auto;
}

.mapa{
  width: 100%;
  height: 15rem;
  border-radius: 10px;
}

/*COMENTARIOS*/

.comentarios{
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 5rem;
  background-color: var(--primary-color-light);
}

.contenedor-google{
  width: 90%;
  margin: auto;
  margin-top: 2.5rem;
  display: flex;
}

@media (max-width: 600px){
   
  .contenedor-google{
      width: 50%;
  }
}

.logo-google{
 width: 4rem;
}

.contenedor-titulo-estrellas{
  width: 90%;
  margin: auto;
}

.titulo-comentarios{
  color: var(--blanco-1);
}

.estrellas-totales{
  width: 6rem;
}

.cantidad-opiniones{
  text-decoration: none;
  color: var(--blanco-1);
}


.contenedor-comentario-macro{
  width: 90%;
  margin: auto;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  grid-gap: 15rem;
}

@media (max-width: 850px){
   
  .contenedor-comentario-macro{
      grid-gap: 1rem;
  }
}

.modificador{
  font-size: 4rem;
  align-self: center;
  color: var(--gris-2);
  cursor: pointer;
}

@media (max-width: 600px){
   
  .modificador{
      font-size: 3rem;
  }
}

.contenedor-comentario-micro{
  width: 15rem;
  background-color: var(--blanco-1);
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0.3rem 0.3rem 0.8rem 0.2rem rgb(99, 99, 99);
}

.contenedor-comentario-micro-ingresa{
  width: 15rem;
  border: 1px solid var(--gris-1);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0.3rem 0.3rem 0.8rem 0.2rem rgb(99, 99, 99);

 
  position: relative;
  animation-name: movimientoIngresa;
  animation-duration: 6s; /*La duración debe ser la misma que indicamos en javascript
  z-index: 1; */
}

@keyframes movimientoIngresa {
  0% {left: 7rem; opacity: 0;}
  30% {left: 0rem; opacity: 1;}
}

@media (max-width: 600px){
   
  @keyframes movimientoIngresa {
      0% {left: 2rem; opacity: 0;}
      20% {left: 0rem; opacity: 1;}
  }
}

.contenedor-comentario-micro-sale{
  width: 15rem;
  border: 1px solid var(--gris-1);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0.3rem 0.3rem 0.8rem 0.2rem rgb(99, 99, 99);

 
  position: relative;
  animation-name: movimientoSale;
  animation-duration: 6s; /*La duración debe ser la misma que indicamos en javascript
  z-index: 1; */
}

@keyframes movimientoSale {
  0% {right: 7rem; opacity: 0;}
  30% {right: 0rem; opacity: 1;}
}

@media (max-width: 600px){
   
  @keyframes movimientoSale {
      0% {right: 2rem; opacity: 0;}
      20% {right: 0rem; opacity: 1;}
  }
}

.estrellas{
  width: 7rem;
}

.contenedor-foto-y-nombre{
  width: 100%;
  display: flex;
  grid-gap: 1rem;
}

.nombre{
  font-size: 1.3rem;
  align-self: center;
}

.imagen-profile{
  width: 3.5rem;
  align-self: center;
}

/*FOOTER*/

.containerFooter{
  width: 100%;
  background-color: var(--primary-color);
  position: relative;
  bottom: 1.5rem;
}